<app-header></app-header>
<div class="container">
    <div class="row mt-5">
        <div class="col-6">
            <img src="\assets\category\apple.jpg" alt="" style="height: 400px; width: 500px;">
            <h2></h2>
        </div>
        <div class="col-6 ">
            <h2 class="mt-5">item name</h2>
            <h3>quantity</h3>
            <h3>specification</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati vel recusandae consectetur assumenda
                porro enim, earum, sed fuga dolore beatae eaque natus asperiores voluptatibus ratione dignissimos modi
                eum nisi aliquid?</p>

            <button class="btn btn-outline-success btn-lg" [routerLink]="'/cart'">Add to cart</button>

        </div>
    </div>

</div>
<br><br><br><br><br><br><br><br><br><br><br>
<app-footer></app-footer>