<section>
    <header>
      <div class="container text-center fixed-top">
        <div class="row">
          <div class="col">
            <div class="header">
              <nav class="navbar bg-body-tertiary">
                <form class="container-fluid justify-content-start">
                  <button class="btn btn-outline-success me-2" type="button" ><a routerLink="/seller-sigup"> Become a seller</a></button>
                  <button class="btn btn-outline-success me-2" type="button"> <a routerLink="/login"> Login </a></button>
                </form>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </header>
  </section>

  
