<div class="row">
    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>
    <div class="col-md-10">
        <div class="row" style="margin-top: 7%;">
            <h5><b>Orders</b></h5>
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <td></td>
                        <td>Order Date</td>
                        <td>Customer ID</td>
                        <td>Customer Name</td>
                        <td>Address</td>
                        <td>Product ID</td>
                        <td>Quantity</td>
                        <td>Total Amount</td>


                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <img src="" alt="">
                        </td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                </tbody>
            </table>

            </div>
        </div>
    </div>