<div class="row">



    <div class="col-md-2">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div class="row" style="margin-top: 7%; width: 60%;">
            <h5><b>Profile</b></h5>
            <table class="table">
                <tbody>
                    <tr>
                        <th scope="row">Company Name</th>
                        <td>***</td>
                    </tr>
                    <tr>

                        <th scope="row">Email</th>
                        <td>***</td>
                    </tr>
                    <tr>
                        <th scope="row">Phone No</th>
                        <td>***</td>
                    </tr>
                    <tr>
                        <th scope="row">Address</th>
                        <td>***</td>
                    </tr>
                    <tr>
                        <th scope="row">Holder Name</th>
                        <td>***</td>
                    </tr>
                    <tr>
                        <th scope="row">Profile photo</th>
                        <td>***</td>
                    </tr>
                </tbody>
            </table>

            <button class="btn btn-danger"><a class="text-white" href="">Edit</a> </button>
        </div>
    </div>
</div>