<div class="row">
    <div class="col">
        <div class="l-navbar" id="nav-bar">
            <nav class="nav">
                <div> <a href="" class="nav_logo" [routerLink]="'/seller/home'"> <i class='bx bx-layer nav_logo-icon'></i>
                        <span class="nav_logo-name">home</span> </a>
                    <div class="nav_list">
                        <a href="" class="nav_link active" routerLink="/seller/addproduct"> <i
                                class='bx bx-grid-alt nav_icon'></i>
                            <span class="nav_name">Add product</span>
                        </a>

                        <a class="nav_link" [routerLink]="'/seller/viewproduct'"> <i class='bx bx-user nav_icon'></i>
                            <span class="nav_name">View Product</span>
                        </a>

                        <a class="nav_link" [routerLink]="'/seller/vieworders'"> <i class='bx bx-message-square-detail nav_icon'></i>
                            <span class="nav_name">View Order</span>
                        </a>

                        <a class="nav_link" [routerLink]="'/seller/updatestock'"> <i class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Update Stock</span>
                        </a>

                        <a class="nav_link" [routerLink]="'/seller/changepassword'"> <i class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Change Password</span>
                        </a>
                        <a class="nav_link" [routerLink]="'/seller/profile'"> <i class='bx bx-bookmark nav_icon'></i>
                            <span class="nav_name">Profile</span>
                        </a>

                    </div>
                </div> <a class="nav_link"> <i class='bx bx-log-out nav_icon'></i> <span class="nav_name">SignOut</span>
                </a>
            </nav>
        </div>
    </div>
